<!DOCTYPE html>
<html>
  <head>
    <title>Clubhouse</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Clubhouse</h1>
    <p>Welcome to Clubhouse</p>
    <% if (user) {%>
          <div>Logged in</div>
    <% if (user.member_status == 'basic-member') {%>

    <hr>
      <div class="messages">
    <% for(let i=0; i< messages.length; i++){ %>
      <h2>
        <%= messages[i].title %>
      </h2>
      <p>
        <%= messages[i].text %>
      </p>
      <hr>
      <% }} else if (user.member_status=='clubhouse-member') {%>

        <hr>
        <div class="messages">
          <% for(let i=0; i< messages.length; i++){ %>
            <h2>
              <%= messages[i].title %>
            </h2>
            <h3>
              Posted by: <%= messages[i].user.name %> at <%= messages[i].timestamp %>
            </h3>
            <p>
              <%= messages[i].text %>
            </p>
            <hr>
            <% }%>
        </div>
        <% }%>

    
    <a href="/new-message">Create new message</a>
    <a href="/log-out">LOG OUT</a>
    <% } else { %>
      <h1>please log in</h1>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button>Log In</button>
      </form>
      <%}%>

  </body>
</html>
